development:
  adapter: mysql2
  encoding: utf8
  database: futsal_court_dev
  pool: 5
  username: YOURID
  password: YOURPASSWORD
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  database: futsal_court
  pool: 5
  username: YOURID
  password: YOURPASSWORD
  host: localhost
